@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");

.cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
    font-size: 188px;
    font-weight: 100;
    letter-spacing: -0.1rem;
}
ul {
    list-style: none;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #f5f3ee;
    list-style: none;
}

/* 섹션1 */
#brand {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

#brand video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.brandText {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    z-index: 1;
    /* background-color: darkgoldenrod; */
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandText h1 {
    color: #fff;
    font-size: 130px;
    font-weight: bold;
    font-size: 188px;
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: -0.1rem;
}

.brandText p {
    color: #fff;
    font-size: 20px;
    margin-top: -10px;
}

/* 섹션2 */

#brand_2 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start;  */
    gap: 0;
    justify-content: center;
}

.brandLeftbox_1 {
    width: 40%;
    height: 400px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Cormorant Garamond", serif;
    padding-top: 50px;
}

.brandRightbox_1 {
    width: 50%;
    height: 400px;
    /* background-color: skyblue; */
    padding-top: 50px;
}

.brandLeftbox_1 h1 {
    font-size: 80px;
    font-weight: lighter;
}

.brandRightbox_1 p {
    color: #838181;
    padding-top: 220px;
    font-size: 18px;
}

.brandLeftbox_2 {
    width: 40%;
    height: 800px;
    /* background-color: lightgrey; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 175px;
}
.brandLeftbox_2 h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.brandRightbox_2 {
    width: 50%;
    height: 800px;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 175px;
}

.brandRightbox_2 div {
    display: flex;
    gap: 60px;
}

.brandRightbox_2 img {
    width: 23.5vw;
    object-fit: cover;
    display: block;
}

/* 섹션3 */
#brand_3 {
    width: 100%;
    height: 100vh;
    margin-top: 15%;
    display: flex;
}

.brandLeftbox_3 {
    width: 50%;
    margin-top: 15vw;
    /* background-color: aqua; */
}

.brandLeftbox_3 img {
    width: 47vw;
}

.brandRightbox_3 {
    width: 45%;
    height: 44vw;
    /* background-color: #838181; */
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-items: center;
}

.BR3_inbox {
    width: 100%;
    height: 45%;
    background-color: rgb(83, 83, 211);
}

.front {
    display: flex;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
}

.brandRightbox_3 li {
    width: 40.5vw;
    height: 205px;
    /* background-color: antiquewhite; */
    border-top: 1px solid #ccc;
}

.front > .tit1 {
    width: 100%;
    height: 120px;
    /* background-color: palegreen; */
}

.front > .tit2 {
    width: 100%;
    height: 120px;
    font-size: 50px;
    /* background-color: pink; */
    text-align: right;
}

.hidden > .tit3 {
    font-size: 20px;
}

.hidden .txt {
    color: #838181;
}

/* 섹션4 */
#brand_4 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start;  */
    gap: 0;
    justify-content: center;
    margin-top: 20vw;
}

.brandLeftbox_4 {
    width: 40%;
    height: 800px;
    /* background-color: lightgrey; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: left;
}
.brandLeftbox_4 h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.brandRightbox_4 {
    width: 50%;
    height: 800px;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.brandRightbox_4 > div img {
    max-width: 100%;
    height: auto;
    display: block;
}

.brand4_Text {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    /* background-color: aqua; */
    width: 43vw;
    height: auto;
    font-size: 36px;
}

/* 섹션5 */

#brand_5 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.BR5_inbox {
    /* background-color: pink; */
    width: 90%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
}

.BR5_inbox2 {
    /* background-color: olive; */
    width: 90%;
    height: 200px;
    display: flex;
    /* flex-direction: column; */
    border-bottom: 1px solid #ccc;

    justify-content: left;
    align-items: center;
    gap: 200px;
}

.BR5_Ininbox1 {
    width: 200px;
    height: 150px;
    /* background-color: antiquewhite; */
    font-size: 18px;
}

.BR5_Ininbox2 {
    width: 200px;
    height: 150px;
    /* background-color: antiquewhite; */
    font-size: 18px;
    color: #838181;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.BR5_inbox3 {
    /* background-color: orange; */
    width: 90%;
    height: 280px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
}

.BR5_imgBox {
    width: 200px;
    height: auto;
    /* background-color: antiquewhite; */
    font-size: 18px;
    display: flex;
    align-items: center;
}

.BR5_imgBox > .BR5_imgtxt {
    width: 100px;
    height: auto;
    text-align: center;
    /* background-color: red; */
    position: absolute;
    top: 24vw;
    left: 8vw;
    color: #fff;
}

.BR5_Ininbox3 {
    width: 200px;
    height: 210px;
    /* background-color: antiquewhite; */
    font-size: 18px;
    color: #838181;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}

.BR5_Ininbox4 {
    width: 880px;
    height: 210px;
    /* background-color: antiquewhite; */
    font-size: 17px;
    color: #838181;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}

.BR5_inbox4 {
    /* background-color: brown; */
    width: 90%;
    height: 280px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
}

.BR5_imgBox {
    width: 200px;
    height: auto;
    /* background-color: antiquewhite; */
    font-size: 18px;
    display: flex;
    align-items: center;
}

.BR5_imgBox > .BR5_imgtxt2 {
    width: 100px;
    height: auto;
    text-align: center;
    /* background-color: red; */
    position: absolute;
    top: 38vw;
    left: 8vw;
    color: #fff;
}
